/* ======================================
   Digital Solutions 页面样式
   ====================================== */

:global(.swiper-pagination) {
   padding-top: 2px;
   padding-bottom: 2px;
}

:global(.swiper-pagination .swiper-pagination-bullet) {
  opacity: 1;
  width: 9px;
  height: 9px;
  background: rgba(0, 0, 0, .25);    
}

:global(.swiper-pagination .swiper-pagination-bullet-active) {
  background: rgb(40, 110, 17);
  transform: scale(1.2);
}