@import "tailwindcss";

@layer base {
  body {    
    color: #555;
    font-family: Noto Sans TC;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium leading-[calc(100%+10px)] mb-5;
  }
  p {
    @apply leading-[calc(100%+10px)] mb-5;
  }
  a {
    transition: all 0.3s ease;
  }
  ul li::marker {
    color: #6ccb50;
  }
  
  #header.scrolled {
    @apply !py-3 bg-[rgba(255,255,255,.98)] shadow-[0_3px_45px_rgba(0,0,0,.2)];
    backdrop-filter: blur(10px);
  }

  #header.scrolled .logo {
    @apply w-37;
  }

  /* 菜單項 hover 隔離樣式 */
  .menu-item-with-dropdown {
    @apply isolate;
  }
  
  .menu-item-with-dropdown::before {
    content: '';
    @apply absolute inset-0 -m-2 z-[-1];
  }

  .text-\[36px\]\/\[1\.2\] { font-size: 36px; line-height: 1.2; }
}

@layer components {  
  .text-\[\#286e11\] {
    color: #286e11;
  }  
  .hover\:text-\[\#555\] {
    &:hover {
      @media (hover: hover) {
        color: #555;
      }
    }
  }
}

