/* ======================================
   SuccessCases 組件樣式
   ====================================== */

.swiperPagination {
   padding-top: 2px;
   padding-bottom: 2px;
}

.swiperPagination :global(.swiper-pagination-bullet) {
  opacity: 1;
  width: 9px;
  height: 9px;
  background: rgba(0, 0, 0, .25);    
}

.swiperPagination :global(.swiper-pagination-bullet-active) {
  background: rgb(40, 110, 17);
  transform: scale(1.2);
}